<div class="row">
    <div class="col-4"></div>
    <div class="col-4"><h1>WELCOME TO STATEBANK</h1></div>
    <div class="col-4"></div>
  </div>
    <div class="container">
        <div class="jumbotron">
    <form>
    <div class="form-group">
      <!-- {{acno}} -->
      <label for="acno">Account Number</label>
      <input [(ngModel)]="acno" class="form-control" name="acno" id="acno" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="pwd">Password</label>
      <input type ="password" [(ngModel)]="pwd" name="pwd" class="form-control" id="pwd">
    </div>
    
    <button type="submit" class="btn btn-primary" (click)="login()">Submit</button>
  </form>



</div>
</div>
