<div class="container">
  <div class="jumbotron">
      <div class="row">
          <div class="col"></div>
          <div class="col">Welcome to SBK Bank</div>
          <div class="col"></div>
      </div>
      <div class="row">
          <div class="col">
              <form [formGroup]="loginForm" (ngSubmit)="login()">
                  <div class="form-group">
                      <label for="acno">Account Number</label>
                      <input formControlName="acno" name="acno" type="text" class="form-control" id="acno" aria-describedby="emailHelp">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your Account number with
                          anyone else.</small>
                      <div *ngIf="getError('acno')" class="error">Acno is invalid</div>
                  </div>
                  <div class="form-group">
                      <label for="pwd">Password</label>
                      <input formControlName="pwd" name="pwd" type="password" class="form-control" id="pwd">
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <a routerLink="register">Register</a>
              </form>
          </div>
      </div>
  </div>
</div>