<div class="container">
    <div class="jumbotron">
        <h1>Welcome {{name}} </h1>
        <a routerLink="/transaction-history">View Transactions</a>
        <div class="row">
            <div class="col" >
                <h2>Cash Deposit</h2>

                <form [formGroup]="depositForm" (ngSubmit)="deposit()">
                    <table>
                        <tr>
                            <td>Account Number</td>
                            <td><input formControlName="acno" type="text" name="acno" id="acno"></td>
                        </tr>
                        <tr>
                            <td>Pin</td>
                            <td><input formControlName="pin" type="text" name="pin" id="pin"></td>
                        </tr>
                        <tr>
                            <td>Amount</td>
                            <td><input formControlName="amt" type="text" name="amt" id="amt"></td>
                        </tr>
                        <tr>
                            <td colspan="2"> <button type="submit" >Deposit</button></td>
                        </tr>
                    </table>
                </form>
            </div>

            <div class="col" >
                <h2>Cash Withdrawal</h2>
                <form [formGroup]="withdrawForm" (ngSubmit)="withdraw()">
                <table>
                    <tr>
                        <td>Account No:</td>
                        <td><input formControlName="acno" type="text" name="wacno" id="wacno"></td>
                    </tr>
                    <tr>
                        <td>Pin</td>
                        <td><input formControlName="pin" type="text" name="pin" id="wpin"></td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td><input formControlName="amt" type="text" name="amt" id="wamt"></td>
                    </tr>
                    <tr>
                        <td colspan="2"> <button type="submit" >Withdraw</button></td>
                    </tr>
                </table>
                </form>
            </div>

        </div>
    </div>
</div>
<div>

</div>
<div>
    
</div>