<div class="container">
    <div class="row">
      
        <div class ="col-6">
            <div class="p-3 mb-2 bg-info text-white">
            <h1>Deposit</h1>
    <table>
    <tr><td>accno</td>
        <td><input type="text" id="acno"></td></tr>
      <tr> <td>pin</td>
        <td><input type="text" id="pin"></td></tr> 
        <tr>   <td>amount</td>
        <td><input type="text"id="amnt"></td></tr> 
        <tr>   <td>proceed</td>
        <td><input type="submit" onclick="bank.deposit()"></td></tr>
    
    
    
    </table></div></div>
    
      
        <div class ="col-6">
            <div class="p-3 mb-2 bg-info text-white">
            <h1>Withdraw</h1>
    <table width="50px">
    <tr><td>accno</td>
        <td><input type="text" id="acno1"></td></tr>
      <tr> <td>pin</td>
        <td><input type="text" id="pin1"></td></tr> 
        <tr>   <td>amount</td>
        <td><input type="text"id="amnt1"></td></tr> 
        <tr>   <td>proceed</td>
        <td><input type="submit" onclick="bank.withdraw()"></td></tr>
    
    
    
    </table>
    </div></div>
        
        
    
    
    
    
        </div></div>
    
