<div class="row">
    <div class="col-4"></div>
    <div class="col-4"><h1>WELCOME TO STATEBANK</h1></div>
    <div class="col-4"></div>
  </div>
    <div class="container">
        <div class="jumbotron">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="form-group">
            <!-- {{acno}} -->
         
            <label for="name">Name</label>
            <input formControlName="name" class="form-control" name="name" id="acno" aria-describedby="emailHelp">
            <div *ngIf="registerForm.get('name').errors" class="error">Name is invalid</div>
            <small id="emailHelp" class="form-text text-muted"></small>
          </div>
    <div class="form-group">
      <!-- {{acno}} -->
      <label for="acno">Account Number</label>
      <input formControlName="acno" class="form-control" name="acno" id="acno" aria-describedby="emailHelp">
      <div *ngIf="registerForm.get('acno').errors" class="error">Account no is invalid</div>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="pwd">Password</label>
      <input type ="password" formControlName="pwd" name="pwd" class="form-control" id="pwd">
      <div *ngIf="registerForm.get('pwd').errors" class="error">password is invalid</div>
    </div>
    <div class="form-group">
        <label for="pin">Pin</label>
        <input type ="pin" formControlName="pin" name="pin" class="form-control" id="pin">
        <div *ngIf="registerForm.get('pin').errors" class="error">Pin is invalid</div>
      </div>
    <button type="submit" class="btn btn-primary" >Submit</button><br><br>
    <a routerLink="">Back to Login</a>
  </form>



</div>
</div>

